.login-page-content {
  display: flex;
  flex-direction: column;

  @include media($large-screen-up) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .right-side {
      padding-left: $base-spacing * 2;
    }
  }
}

.tml.tml-login,
#rcp_login_form {
  min-width: 300px;
}

.tml-rememberme-submit-wrap {
  margin-bottom: 0 !important;
}

.tml-rememberme-wrap {
  display: none !important;
}

.tml-submit-wrap {
  display: block !important;
  text-align: left !important;

  input {
    display: block;
    width: 100% !important;
  }
}
