// Margin Resets
.mb0 {
  margin-bottom: 0;
}

.lmb0 {
  > :last-child {
    margin-bottom: 0;
  }
}

.fmt0 {
  > :first-child {
    margin-top: 0;
  }
}

.lotmb0 {
  &:last-of-type {
    margin-bottom: 0;
  }
}

.mlra,
.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

// Margin Top
.smallmt {
  margin-top: $small-spacing;
}

.basemt {
  margin-top: $base-spacing;
}

.basemt2 {
  margin-top: $base-spacing * 2;
}

.basemt3 {
  margin-top: $base-spacing * 3;
}

.basemt4 {
  margin-top: $base-spacing * 4;
}

.sectionmt {
  margin-top: $section-margin/2;

  @include media($large-screen-up) {
    margin-top: $section-margin;
  }
}

// Margin Left
.smallml {
  margin-left: $small-spacing;
}

.baseml {
  margin-left: $base-spacing;
}

.baseml2 {
  margin-left: $base-spacing * 2;
}

.baseml3 {
  margin-left: $base-spacing * 3;
}

.baseml4 {
  margin-left: $base-spacing * 4;
}

.sectionml {
  margin-left: $section-margin/2;

  @include media($large-screen-up) {
    margin-left: $section-margin;
  }
}

// Margin Right
.smallmr {
  margin-right: $small-spacing;
}

.basemr {
  margin-right: $base-spacing;
}

.basemr2 {
  margin-right: $base-spacing * 2;
}

.basemr3 {
  margin-right: $base-spacing * 3;
}

.basemr4 {
  margin-right: $base-spacing * 4;
}

.sectionmr {
  margin-right: $section-margin/2;

  @include media($large-screen-up) {
    margin-right: $section-margin;
  }
}

// Margin Bottom
.smallmb {
  margin-bottom: $small-spacing;
}

.basemb {
  margin-bottom: $base-spacing;
}

.basemb2 {
  margin-bottom: $base-spacing * 2;
}

.basemb3 {
  margin-bottom: $base-spacing * 3;
}

.basemb4 {
  margin-bottom: $base-spacing * 4;
}

.sectionmb {
  margin-bottom: $section-margin/2;

  @include media($large-screen-up) {
    margin-bottom: $section-margin;
  }
}
