.w100 {
  width: 100%;
}

// Max Widths
.max-width-1200 {
  max-width: 1200px;
}

.max-width-960 {
  max-width: 960px;
}

.max-width-760 {
  max-width: 760px;
}

.max-width-500 {
  max-width: 500px;
}

.max-width-650 {
  max-width: 650px;
}

.max-width-600 {
  max-width: 600px;
}
