.single-flowchart-content-outer {
	.complete-checklist .question-group {
		margin-bottom: 2rem;
	}

	.result-label {
		font-weight: bold;
	}

	.result {
		font-weight: bold;
		margin-bottom: 4rem;
	}
}
