.upsell_modal_inner {
  text-align: center;

  h3 {
    margin-bottom: $small-spacing;
  }

  .image-wrap {
    margin: $base-spacing auto;

    img {
      max-height: 50vh;
      width: auto;
    }
  }

  .buttons-wrap {
    margin-top: $base-spacing;
  }
}
